@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    overflow: hidden;
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #0015ff2a;
    border-radius: 10px;
    padding: 0rem 1rem;
}
#heading{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    margin: 0;
    transition: 0.5s ease-in-out;

}
#semi_heading{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    opacity: 0.8;
    transition: 0.5s ease-in-out;
}
#text{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2px;
    text-align: center;
    transition: 0.5s ease-in-out;

}
.button_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
#button_arrow_right, #button_arrow_left{
    border: none;
    outline: none;
    background-color: #0015ff00;
}
#button_arrow_right:hover{
    background-color: #ffffff57;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}
#button_arrow_left:hover{
    background-color: #ffffff57;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}
.bx{
    font-size: 2rem;
    color: #3300ff;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}
#image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2.5px 0px 0.5px #ff00e1bf;
    transition: 0.5s ease-in-out;

}
